<nav class="navbar">
    <div class="navbar-left">
      <img src="https://cdn-icons-png.flaticon.com/512/4712/4712076.png" alt="logo" class="logo">
      <span class="shop-title">Robot Shop</span>
    </div>
  
    <div class="navbar-center">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/catalog" routerLinkActive="active-link">Catalog</a>
      <a routerLink="/cart" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Cart ({{ cartCount() }})</a>

          </div>
  
    <div class="navbar-right">
      <a href="#">Sign In</a>
      <span>|</span>
      <a href="#" class="register-link">Register</a>
    </div>
  </nav>
  